<app-page-explanation [title]="explanationTitle" [explanation]="explanationDescription"></app-page-explanation>
<div class="flex flex-col sm:flex-row justify-around">
  <div class="mt-1 flex flex-col justify-around">
    <button (click)="chargingPointForm()"
      class="w-40 h-10 mt-2 self-center bg-indigo-700 hover:bg-white text-white font-semibold
        hover:text-indigo p-2 border border-indigo rounded">
      Crear Nuevo
    </button>
  </div>

  <div class="w-full sm:w-4/5 flex flex-col">
    <app-charging-point-list (chosenChargingPointIdChange)="updateChosenChargingPointId($event)"></app-charging-point-list>
  </div>
</div>
