<div class="mt-3 border-t-2 border-purple flex flex-row justify-around">
  <div class="p-4 w-5/6 mt-6 flex flex-col">
    <p class="text-center text-indigo font-semibold text-xl mb-6">Reseñas del hospedaje</p>
    <div *ngFor="let review of reviews" class="border-2 p-3 mb-4 rounded-3xl border-gray-400">
      <div class="flex flex-row">
        <p class="text-purple font-semibold">Nombre completo: </p>
        <p class="ml-2">{{review.name}} {{review.surname}}</p>
      </div>
      <div class="flex flex-row">
        <p class="text-purple font-semibold">Calificacion: </p>
        <app-star-rating [availableInput]="false" [stars]="review.stars" class="ml-2"></app-star-rating>
      </div>
      <div class="flex flex-row">
        <p class="text-purple font-semibold">Reseña: </p>
        <p class="ml-2 text-justify">{{review.text}}</p>
      </div>
    </div>
  </div>
</div>
