<div class="ml-3 flex flex-box">
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Ingrese un rango de fechas</mat-label>
      <mat-date-range-input [rangePicker]="picker" [min]="minDate">
        <input matStartDate placeholder="Check In" (dateChange)="choseAccommodationCheckIn($event.value)" readonly>
        <input matEndDate placeholder="Check Out" (dateChange)="choseAccommodationCheckOut($event.value)" readonly>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
  <div class="flex flex-row flex-wrap">
    <app-number-input-spinner (updatedValueEvent)="chooseAdultsAmount($event)" [label]="'Adultos'" class="ml-3"></app-number-input-spinner>
    <app-number-input-spinner (updatedValueEvent)="chooseKidsAmount($event)" [label]="'Niños'" class="ml-3"></app-number-input-spinner>
    <app-number-input-spinner (updatedValueEvent)="chooseBabiesAmount($event)" [label]="'Bebes'" class="ml-3"></app-number-input-spinner>
    <app-number-input-spinner (updatedValueEvent)="chooseRetiredAmount($event)" [label]="'Jubilados'" class="ml-3"></app-number-input-spinner>
  </div>

  <button (click)="searchResorts()" class="w-40 ml-4 mt-2 self-center bg-indigo-700 hover:bg-white text-white font-semibold
    hover:text-indigo p-2 border border-indigo rounded">
    Buscar Hospedajes
  </button>
</div>
<div *ngIf="showAccommodationDetailsError" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
  <strong class="font-bold">Error: </strong>
  <span class="block sm:inline">{{accommodationValidationErrorMessage}}</span>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg (click)="closeAccommodationDetailsError()" class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Cerrar</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
