<div class="flex flex-row lg:flex-row-reverse md:justify-start lg:justify-around p-5 border-b-2 border-purple rounded m-5 text-justify">

  <img class="hidden flex-shrink-0 lg:inline lg:w-1/3 xl:w-1/5" src="assets/img/Camera.svg"/>
  <div class="w-100 lg:w-1/3 flex flex-col ">
    <p class="text-3xl text-indigo font-bold mb-3">¡Bienvenido!</p>
    <p class="text-lg mb-3">Bienvenido a la pagina de el Ministerio de Turismo de Uruguay.</p>
    <p class="text-lg mb-3">Aqui podras explorar todos los hospedajes disponibles en nuestro pais navegando a traves de las regiones, puntos turisticos y categorias.</p>
    <p class="text-lg mb-3">
      Si ya has realizado una reserva puedes ver su estado en 'Ver Reserva' o compartir tu opinion sobre el hospedaje en 'Tu Opinion' en la barra
      lateral izquierda, asi poder ayudar a otros turistas a tener una mejor experiencia.
    </p>
    <p class="text-lg ">Ante cualquier duda no dudes en contactarnos a nuestro e-mail, telefono o en nuestras oficinas de 8hs a 16hs</p>
  </div>

</div>

<div class="flex flex-row justify-around  mb-5">
  <p class="text-3xl text-indigo font-bold">Comienza tu busqueda</p>
</div>

<div class="flex flex-row justify-start md:justify-center mb-10">
  <p class="text-md font-semibold text-center">Selecciona una de las siguientes regiones para ver los puntos turisticos disponibles en ella.</p>
</div>
