
<div class="">
  <!-- flex flex-col  justify-right justify-around -->
  <div class="mt-1 justify-right">
    <button (click)="chargingPointForm()"
      class="w-40 h-10 mt-2 ml-4 bg-indigo-700 hover:bg-white text-white font-semibold
        hover:text-indigo p-2 border border-indigo rounded">
      Crear Nuevo
    </button>

    <button (click)="deleteChargingPoint()"
    class="w-40 h-10 mt-2 ml-4 bg-indigo-700 hover:bg-white text-white font-semibold
      hover:text-indigo p-2 border border-indigo rounded">
    Eliminar
  </button>

  </div>

  <div class="w-full sm:w-4/5 flex flex-col">
  
  <!-- chargin point list -->
  <!-- flex flex-col -->
<div class="">

  <div *ngIf="errorLoadingChargingPoints || chargingPoints.length == 0" >
    <p id="loadIncorrectly" class="ml-4 mt-4">
      {{errorLoadingChargingPoints}}
    </p>
  </div>
  <div *ngIf="!errorLoadingChargingPoints && chargingPoints.length != 0" >
    <div *ngFor="let chargingPoint of chargingPoints" (click)="chooseChargingPoint(chargingPoint.id)"
         class="border-4 rounded-3xl m-3 p-3 flex flex-col lg:flex-row cursor-pointer"
         [class]="{'border-pink': isChargingPointCardChosen(chargingPoint.id),
              'hover:border-purple': !isChargingPointCardChosen(chargingPoint.id)}" >
      <div class="flex flex-col">
        <p id="loadCorrectly" class="font-semibold text-indigo text-xl">{{chargingPoint.name}}</p>
        <p class="text-justify">{{chargingPoint.description}}</p>
        <div class="flex flex-row" >
          <p class="text-pink font-semibold">Region: </p>
          <p class="ml-2"> {{chargingPoint.region.name}}</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- end of charging point list -->

  </div>
</div>


